{{#contentFor 'pageCSS'}}
  <style type="text/css">
    #avatar_dealio {
      width: 324px;
      margin: 0;
    }

    #output {
      /*display: none;*/
      /*margin: 20px auto 0;*/
    }

    .aui-avatar-standard,
    .aui-avatar-standard .aui-avatar-inner {
      height: 100px;
      width: 100px;
    }
      
    .aui-avatar img {
        height: auto;
    }

    #crop-button {
      display: none;
      float: right;
      position: relative;
      margin-top: -30px;
    }
  </style>
{{/contentFor}}

<div id="main-content" class="container maincontent-container" style="padding-left: 20px; margin-bottom: 30px;">
  {{#if message}}
    <div class="alert alert-danger" id="updateErrorMessage">{{message}}</div>
  {{/if}}

  {{#with organization}}
    
 <div class="container">
      <div id="output" class="aui-avatar aui-avatar-standard pull-left" style="margin: 0 10px 10px 0;">
        <div class="aui-avatar-inner thumb">
          <img
            src="{{#if logoUrl}}{{logoUrl}}{{else}}{{strings.PublicStaticContextFullPrefixPath}}/images/logo-default.png{{/if}}"/>
        </div>
      </div>
     
     <h4 style="font-size:18px;margin:0 0 .5em 0;">My Organization:</h4>
     <h1 style="font-size:36px;margin:0 0 .5em 0;">{{orgName}}</h1>
     <p class="text-muted" style="margin-top:-1em;"><span class="small required-field">*Required fields</span></p>
</div>
        
    <form method="post" class="form-horizontal" id="admin-update-org" enctype="multipart/form-data"
        action="/admin/organizations/{{urlFriendlyID}}/update">
        
    <div class="form-group">
      <label class="col-sm-2 control-label">Name<span class="required-field">*</span></label>
      <div class="col-sm-10">
          <input class="form-control" type="text" name="orgName" value="{{orgName}}"/>
      </div>
    </div>
        
    <div class="form-group">
      <label class="col-sm-2 control-label">Tag Line</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="tagline" value="{{tagline}}"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Address<span class="required-field">*</span></label>
      <div class="col-sm-10">
          <input class="form-control" type="text" name="orgAddress" value="{{orgAddress}}"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Website<span class="required-field">*</span></label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="orgWebsite" value="{{orgWebsite}}"/>
      </div>
    </div>
        
    <div class="form-group">
      <label class="col-sm-2 control-label">Market Area(s)</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="marketArea" value="{{marketArea}}"/>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="showcaseImage" data-toggle="tooltip" data-placement="right"
             data-original-title="10MB file restriction">
        Upload New Logo <span class="glyphicon glyphicon-question-sign"></span>
      </label>
      <div class="col-sm-10 pull-left">
        <input type="hidden" class="form-control" name="uploadLogoURI" id="uploadLogoURI">
        <div id="avatar_dealio">
          <button type="button" id="crop-button" class="aui-button aui-button-primary">Crop</button>
        </div>
      </div>
    </div>
        
    <div class="form-group">
      <label class="col-sm-2 control-label">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control ckeditor" type="text" name="description">{{{trim description}}}</textarea>
      </div>
    </div>
        
    <div class="form-group">
      <label class="col-sm-2 control-label">Location</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" name="location" value="{{location}}"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Year Founded</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" name="yearFounded" value="{{yearFounded}}"/>
      </div>
    </div>
        
    <div class="form-group">
      <label class="col-sm-2 control-label size"><span data-toggle="tooltip" data-placement="right" data-original-title="Small: 1-50 employees; Medium: 51-500 employees; Large: Over 500 employees">Size  <span
        class="glyphicon glyphicon-question-sign"></span></span></label>

      <div class="col-sm-4">
        <select class="form-control" name="size">
          <option value="">-</option>
          <option {{#equalsTo size 'Small'}}selected='selected'{{/equalsTo}} value="Small">Small</option>
          <option {{#equalsTo size 'Medium'}}selected='selected'{{/equalsTo}} value="Medium">Medium</option>
          <option {{#equalsTo size 'Large'}}selected='selected'{{/equalsTo}} value="Large">Large</option>
        </select>
      </div>
    </div>
        
    <div class="form-group">
      <label class="col-sm-2 control-label">Role</label>
      <div class="col-sm-4">
        <select class="form-control" name="orgRole" id="orgRole" value="{{orgRole}}">
          <option value="provider" {{#equalsTo orgRole 'provider'}}selected='selected'{{/equalsTo}}>
            Provider{{#if ../strings.Organization.RoleDescription.Provider}}
            - {{../../strings.Organization.RoleDescription.Provider}}{{/if}}
          </option>
          <option value="client" {{#equalsTo orgRole 'client'}}selected='selected'{{/equalsTo}}>
            Explorer {{#if ../strings.Organization.RoleDescription.Client}}
            - {{../../strings.Organization.RoleDescription.Client}}{{/if}}
          </option>

          <option value="both" {{#equalsTo orgRole 'both'}}selected='selected'{{/equalsTo}}>
            Both{{#if ../strings.Organization.RoleDescription.Both}}
            - {{../../strings.Organization.RoleDescription.Both}}{{/if}}
          </option>
          <option value="communityOwner" {{#equalsTo orgRole 'communityowner'}}selected='selected'{{/equalsTo}}>
            Community
            Owner{{#if ../strings.Organization.RoleDescription.CommunityOwner}}
            - {{../../strings.Organization.RoleDescription.CommunityOwner}}{{/if}}
          </option>
        </select>
      </div>
    </div>
        
    <div class="form-group">
      <label class="col-sm-2 control-label">Type</label>
      <div class="col-sm-4">
        <select class="form-control" name="orgType" id="orgType">
          <option value="government" {{#equalsTo orgType 'government'}}selected='selected'{{/equalsTo}}> Government
          </option>
          <option value="industry" {{#equalsTo orgType 'industry'}}selected='selected'{{/equalsTo}}> Industry</option>
          <option value="academia" {{#equalsTo orgType 'academia'}}selected='selected'{{/equalsTo}}>Academia</option>
        </select>
      </div>
    </div>
        
    <div class="form-group">
      <label class="col-sm-2 control-label" id="org-duns-label">DUNS Number</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" name="orgRouteId" id="org-duns"
               value="{{#equalsTo orgId.name 'orgDuns'}}{{orgId.value}}{{/equalsTo}}"/>
      </div>
    </div>
        
    <hr />
    <h1 style="margin-bottom: 10px; margin-left: -10px;"><span class="glyphicon glyphicon-user"></span> Business POC</h1>
    <div class="form-group">
      <label class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="businessPocFirstName" value="{{businessPocFirstName}}"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="businessPocLastName" value="{{businessPocLastName}}"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Phone Number</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="businessPocPhone" value="{{businessPocPhone}}"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="businessPocEmail" value="{{businessPocEmail}}"/>
      </div>
    </div>
        
    <hr />
    <h1 style="margin-bottom: 10px; margin-left: -10px;"><span class="glyphicon glyphicon-user"></span> Technical POC</h1>
    <div class="form-group">
      <label class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="technicalPocFirstName" value="{{technicalPocFirstName}}"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="technicalPocLastName" value="{{technicalPocLastName}}"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Phone Number</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="technicalPocPhone" value="{{technicalPocPhone}}"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input class="form-control" type="text" name="technicalPocEmail" value="{{technicalPocEmail}}"/>
      </div>
    </div>
  {{/with}}
        
    <div class="form-group text-center" style="margin-left:-5px;">
        <div class="col-sm-12">
            <button class="btn btn-primary" id="admin-update-org-button" type="submit">
            <span class="glyphicon glyphicon-floppy-disk"></span> Update this Organization Profile
          </button>
            <button class="btn btn-default" onclick="window.location.href='/admin/organizations'">Cancel</button>
        </div>
    </div>
      
</form>
</div>


{{#contentFor "pageScripts"}}
  <link rel="stylesheet" href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/aui/css/aui-all.css" media="all">
  <!--[if lt IE 9]><link rel="stylesheet" href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/aui/css/aui-ie.css" media="all"><![endif]-->
  <!--[if IE 9]><link rel="stylesheet" href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/aui/css/aui-ie9.css" media="all"><![endif]-->
  <link rel="stylesheet" type="text/css" href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/css/image-explorer.css">
  <link rel="stylesheet" type="text/css" href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/css/image-upload-and-crop.css">
  <link rel="stylesheet" type="text/css" href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/lib/fd-slider/fd-slider.css">


  <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/aui/js/aui-all.js"></script>
  <!--[if lt IE 9]><script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/aui/js/aui-ie.js"></script><![endif]-->

  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.2/handlebars.min.js"></script>

  <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/lib/fd-slider/fd-slider.js"></script>

  <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/templates/image-upload-and-crop.js"></script>
  <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/templates/aui-message.js"></script>

  <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/canvas-cropper.js"></script>
  <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/client-file-handler.js"></script>
  <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/client-file-reader.js"></script>
  <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/drag-drop-file-target.js"></script>
  <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/upload-interceptor.js"></script>
  <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/image-explorer.js"></script>
  <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/image-upload-and-crop.js"></script>
  <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/text-util.js"></script>

  <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/ckeditor/ckeditor.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('select').change(function () {
        $('select option:selected').each(function () {
          if ($(this).attr('value') == 'Government') {
            $('#org-duns-label').hide();
            $('#org-duns').hide();
            $('#org-naics-label').hide();
            $('#org-naics').hide();
          }
          if ($(this).attr('value') == 'Industry') {
            $('#org-duns-label').show();
            $('#org-duns').show();
            $('#org-naics-label').show();
            $('#org-naics').show();
          }
          if ($(this).attr('value') == 'Academic') {
            $('#org-duns-label').show();
            $('#org-duns').show();
            $('#org-naics-label').show();
            $('#org-naics').show();
          }
        });
      }).change();
    });
  </script>

  <script>

    (function ($) {

      var $avatar_dealio = $("#avatar_dealio"),
        $cropButton = $('#crop-button'),
        $output = $("#output");

      $avatar_dealio.prepend(Handlebars.templates['image-upload-and-crop']({}));

      var imageUploadAndCrop = new ImageUploadAndCrop($avatar_dealio.find('.image-upload-and-crop-container'),
        {
          cropButton: $cropButton,
          onCrop: function (croppedDataURI) {
            $output.find("img").attr('src', croppedDataURI);
            $("#uploadLogoURI").val(croppedDataURI);
            $output.show();
          },
          onImageUpload: function () {
            $cropButton.show();
          },
          onImageUploadError: function () {
            $cropButton.hide();
          }
        }
      );
    })(AJS.$);


  </script>

{{/contentFor}}