<div class="container long-header">
  <div id="navbar-links" class="navbar-collapse collapse" style="width:900px;">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">{{{strings.Navbar.Home}}} test</a></li>
      <li class=""><a href="/communities">{{{strings.Navbar.Communities}}}</a></li>
      <li class="dropdown">
        <a style="float:left;" href="#" class="dropdown-toggle disabled" data-toggle="dropdown" aria-expanded="false">{{{strings.Navbar.MarketSpace.Title}}}&nbsp;<span
          class="glyphicon glyphicon-collapse-down"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/marketspace/capabilities">{{{strings.Navbar.MarketSpace.Options.Capabilities}}}</a></li>
          <li><a href="/marketspace/problems">{{{strings.Navbar.MarketSpace.Options.Problems}}}</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a style="float:left;" href="#" class="dropdown-toggle disabled" data-toggle="dropdown" aria-expanded="false">{{{strings.Navbar.Organizations.Title}}}&nbsp;<span
          class="glyphicon glyphicon-collapse-down"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/marketspace/providers">{{{strings.Navbar.Organizations.Options.Providers}}}</a></li>
          <li><a href="/marketspace/clients">{{{strings.Navbar.Organizations.Options.Clients}}}</a></li>
        </ul>
      </li>
      <li class=""><a href="/faq">{{{strings.Navbar.FAQ}}}</a></li>
      <li class=""><a href="/contact">{{{strings.Navbar.Contact}}}</a></li>

    </ul>
  </div>
  <!--/.nav-collapse -->
</div>