      <li class="product-card paginate">
        <a class="product-card-image" href="/marketspace/organization/{{urlFriendlyID}}" title="{{orgName}}">
          <img alt="{{orgName}}" class="orgImage" src="{{logoUrl}}"/>
          <br/>
          <span class="orgTitle">{{orgName}}</span>
        </a>
      </li> 