<div id="main-content-admin-create-problem" class="container maincontent-container">
  <div class="row page-title">
    <h1>Create New Problem</h1>
  </div>

  <div class="row">
    {{#if isChallengeModalMsg}}
      <div id="manageChallengeMsg" class="alert {{#if isAlert}} alert-danger {{else}} alert-info {{/if}}
        {{#unless message}} hide {{/unless}}">
        {{message}}
      </div>
    {{/if}}
  </div>
  {{> discovery/discovery_create}}
</div>

{{#contentFor 'pageCSS'}}
  <style>
    .ui-datepicker {
      z-index: 1050 !important;
      width: 20em
    }
    .ui-datepicker-next .ui-icon {
      margin-left: -18px;
    }

    #category-tags-label {
      margin-right: 14px;
    }

    #thumbnail-dealio {
      width: 325px;
      margin: 0;
    }
    .aui-avatar-standard,
    .aui-avatar-standard .aui-avatar-inner {
      height: 100px;
      width: 100px;
    }

    #thumbnail-crop-button {
      display: none;
      float: right;
      position: relative;
      margin-top: -30px;
    }

    #existing-docs-submit-label {
      margin-top: 15px;
      height: 25px;
    }

    #required-text {
      padding-left: 15%;
    }
  </style>
  <!--<link href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/jquery-ui-1.11.2/jquery-ui.css"/>-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/aui/css/aui-all.css"
        media="all">
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}                                         "
        media="all"><![endif]-->
  <!--[if IE 9]>
  <link rel="stylesheet" href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}                                          "
        media="all"><![endif]-->
  <link rel="stylesheet" type="text/css"
        href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/css/image-explorer.css">
  <link rel="stylesheet" type="text/css"
        href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/css/image-upload-and-crop.css">
  <link rel="stylesheet" type="text/css"
        href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/lib/fd-slider/fd-slider.css">

  <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/aui/js/aui-all.js"></script>
  <!--[if lt IE 9]>
  <script
    src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}"></script><![endif]-->
  <link rel="stylesheet" type="text/css" href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/tokenfield/css/bootstrap-tokenfield.css"/>
  <link href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/css/jivango-datepicker.css" rel="stylesheet">
{{/contentFor}}

{{#contentFor 'postJqueryScripts'}}
  <script type="application/javascript"
          src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/jquery-validate/jquery.validate.min.js"></script>
  <script type="application/javascript"
          src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/jquery-validate/additional-methods.min.js"></script>
  <script type="application/javascript"
          src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/ckeditor/ckeditor.js"></script>
  <script type="application/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="application/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.rc.2/handlebars.min.js"></script>
  <script type="application/javascript"
          src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/lib/fd-slider/fd-slider.js"></script>
  <script type="application/javascript"
          src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/templates/image-upload-and-crop.js"></script>
  <script type="application/javascript"
          src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/templates/aui-message.js"></script>
  <script type="application/javascript"
          src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/canvas-cropper.js"></script>
  <script type="application/javascript"
          src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/client-file-handler.js"></script>
  <script type="application/javascript"
          src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/client-file-reader.js"></script>
  <script type="application/javascript"
          src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/drag-drop-file-target.js"></script>
  <script type="application/javascript"
          src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/upload-interceptor.js"></script>
  <script type="application/javascript"
          src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/image-explorer.js"></script>
  <script type="application/javascript"
          src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/image-upload-and-crop.js"></script>
  <script type="application/javascript"
          src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/avatar-picker/js/text-util.js"></script>
  <script type="application/javascript"
          src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/tokenfield/bootstrap-tokenfield.js"></script>

  <script type="application/javascript">
    $(document).ready(function(){

      var $startDateEl = $('#startDate');
      $startDateEl.datepicker();
      $('#startDateCalendarIcon').click(function () {
        $startDateEl.datepicker('show');
      });

      var $endDateEl = $('#endDate');
      $endDateEl.datepicker();
      $('#endDateCalendarIcon').click(function () {
        $endDateEl.datepicker('show');
      });

      $('#managerInputs').change(function () {
        var element = $('#discoveryManagers');
        var managers = element.val();
        managers = managers.replace(/\s+/g, '');
        managers = managers.split(",");
        var evaluators = $('#discoveryEvaluators').val();
        evaluators = evaluators.replace(/\s+/g, '');
        evaluators = evaluators.split(",");
        for (var i = 0; i < managers.length; i++) {
          if (evaluators.indexOf(managers[i]) > -1) {
            var errCheck = document.getElementById('discoveryManagers-error');
            if (errCheck == null) {
              $('<label id="discoveryManagers-error" class="error" for="discoveryManagers">That user is already assigned as an Evaluator</label>').appendTo(element.parent().parent('.errPlacement'));
            }
            return false;
          } else {
            $('#discoveryManagers-error').remove();
          }
        }
      });

      $('#evaluatorInputs').change(function () {
        var element = $('#discoveryEvaluators');
        var evaluators = element.val();
        evaluators = evaluators.replace(/\s+/g, '');
        evaluators = evaluators.split(",");
        var managers = $('#discoveryManagers').val();
        managers = managers.replace(/\s+/g, '');
        managers = managers.split(",");

        for (var i = 0; i < evaluators.length; i++) {
          if (managers.indexOf(evaluators[i]) > -1) {
            var errCheck = document.getElementById('discoveryEvaluators-error');
            if (errCheck == null) {
              $('<label id="discoveryEvaluators-error" class="error" for="discoveryEvaluators">That user is already assigned as a Manager</label>').appendTo(element.parent().parent('.errPlacement'));
            }
            return false;
          } else {
            $('#discoveryEvaluators-error').remove();
          }
        }
      });

      $.validator.addMethod('filesize', function(value, element, param) {
        return this.optional(element) || (element.files[0].size <= param)
      });

      $.validator.addMethod('sameValue', function () {
        var managers = $('#discoveryManagers').val();
        managers = managers.replace(/\s+/g, '');
        managers = managers.split(",");
        var evaluators = $('#discoveryEvaluators').val();
        evaluators = evaluators.replace(/\s+/g, '');
        evaluators = evaluators.split(",");

        for (var i = 0; i < managers.length; i++) {
          if (evaluators.indexOf(managers[i]) > -1) {
            return false;
          }
        }
        return true;
      });

      $('#newDiscovery').validate({
        rules: {
          name: {
            required: true
          },
          discoveryManagers: {
            required: true,
            sameValue: true
          },
          startDate: {
            required: true,
            date: true
          },
          endDate: {
            required: true,
            date: true
          },
          description: {
            required: function() {
              CKEDITOR.instances.description.updateElement();
            }
          },
          documents: { filesize: 20971520  }
        },
        messages: { documents: "File must not exceed 20MB" },
        submitHandler: function (form) {
          var _CKupdate = function () {
            for (instance in CKEDITOR.instances)
              CKEDITOR.instances[instance].updateElement();
          };
          _CKupdate();
          var $form = $(form);
          var formData = new FormData($form[0]);
          var $spinner = $('#spinnerDiscovery');
          $spinner.show();
          $.ajax({
            url: "/admin/problems/create",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data, jqXHR) {
              $('#submitNewBtn').hide();
              $('#cancelBtn').hide();
              $('#newDiscovery').hide();
              $spinner.hide();
              $('#newProblemMessage').show();
            },
            error: function (jqXHR, errorThrown) {
              $spinner.hide();
              if (jqXHR.responseJSON.message == 'Invalid file type') {
                $('<label id="documents-error" class="error" for="documents">Invalid File Type</label>').appendTo($('#documents').parent('.errPlacement'));

              } else {
                var errorMsgs = '';
                // Loop through the validation errors and display them
                for(var property in jqXHR.responseJSON) {
                  if (jqXHR.responseJSON.hasOwnProperty(property)) {
                    errorMsgs += '<h4>' + jqXHR.responseJSON[property] + '</h4>';
                  }
                }
                $('.discoveryAlert', '#newDiscovery').html(errorMsgs).show();
                $('.discoveryAlert', '#newDiscovery').addClass('alert');
                $('.discoveryAlert', '#newDiscovery').addClass('alert-danger');
                // Scroll to the top of the page to show error messages from the server
                $("html, body").animate({ scrollTop: 0 }, "slow");
              }
            }
          });
        },
        errorPlacement: function (error, element) {
          if (element.attr('id') == "discoveryManagers") {
            error.appendTo(element.parent().parent('.errPlacement'));
          }
          error.appendTo(element.parent('.errPlacement'));
        },
        ignore: ':hidden:not("#description")'
      });

      $.extend($.validator.messages, {
        required: "This field is required.",
        sameValue: "User can only be a Manager or Evaluator"
      });

      var $avatar_dealio = $("#thumbnail-dealio"),
        $cropButton = $('#thumbnail-crop-button'),
        $output = $("#output"),
        $uploadOutput = $('#thumbnail');

      $avatar_dealio.prepend(Handlebars.templates['image-upload-and-crop']({}));

      //if(document.getElementById('editTag') != null){
      var imageUploadAndCrop = new ImageUploadAndCrop($avatar_dealio.find('.image-upload-and-crop-container'),
        {
          cropButton: $cropButton,
          onCrop: function (croppedDataURI) {
            $output.find("img").attr('src', croppedDataURI);
            $uploadOutput.val(croppedDataURI);
            $output.show();
          },
          onImageUpload: function () {
            $cropButton.show();
          },
          onImageUploadError: function () {
            $cropButton.hide();
          }
        }
      );
      //}
      $('[data-toggle="tooltip"]').tooltip();

      // Do not allow duplicate selections
      $('#discoveryEvaluators').on("tokenfield:createtoken", function(e) {
        var newTokenValue = e.attrs.value;
        var existingTokens = $('#discoveryEvaluators').tokenfield('getTokens');

        for(var i in existingTokens) {
          if(existingTokens[i].value === newTokenValue) {
            return false
          }
        }
        return true;
      })
        .on('tokenfield:createdtoken', function(e) {
          $('#discoveryEvaluators-tokenfield').attr('placeholder', '');
        })
        .on('tokenfield:removedtoken', function(e) {
          if($('#discoveryEvaluators').tokenfield('getTokens').length === 0) {
            $('#discoveryEvaluators-tokenfield').attr('placeholder', 'Problem Evaluator(s)');
          }
        });

      $('#discoveryManagers').on("tokenfield:createtoken", function(e) {
        var newTokenValue = e.attrs.value;
        var existingTokens = $('#discoveryManagers').tokenfield('getTokens');

        for(var i in existingTokens) {
          if(existingTokens[i].value === newTokenValue) {
            return false
          }
        }
        return true;
      })
        .on('tokenfield:createdtoken', function(e) {
          $('#discoveryManagers-tokenfield').attr('placeholder', '');
        })
        .on('tokenfield:removedtoken', function(e) {
          if($('#discoveryManagers').tokenfield('getTokens').length === 0) {
            $('#discoveryManagers-tokenfield').attr('placeholder', 'Problem Manager(s), enter at least one');
          }
        });

      $('#new-discovery-categories').tokenfield({})
        .on('tokenfield:createdtoken', function(e) {
          $('#new-discovery-caregories-tokenfield').attr('placeholder', '');
        })
        .on('tokenfield:removedtoken', function(e) {
          if($('#new-discovery-categories').tokenfield('getTokens').length === 0) {
            $('#new-discovery-categories-tokenfield').attr('placeholder', 'Categories');
          }
        });

      $('#discoveryManagers').tokenfield({
        autocomplete: {
          source: [
            {{#each organizationUsers}}
              {
                value: '{{this.id}}',
                label: '{{this.firstName}} {{this.lastName}} ({{this.email}})'
              },
            {{/each}}
          ]
        },
        showAutocompleteOnFocus: true,
        minWidth: 210
      });

      $('#discoveryEvaluators').tokenfield({
        autocomplete: {
          source: [
            {{#each organizationUsers}}
              {
                value: '{{this.id}}',
                label: '{{this.firstName}} {{this.lastName}} ({{this.email}})'
              },
            {{/each}}
          ],
        },
        showAutocompleteOnFocus: true,
        minWidth: 210
      });
    });
  </script>
{{/contentFor}}