<div id="main-content" class="container-fluid maincontent-container clouds-container pass-reset">
  {{#if error}}
      <div class="row">
          <div class="alert col-lg-12" id="updateErrorMessage" style="margin:auto;">
              <h1 class="icon"><span class="icon-warning-o"></span></h1>
              {{error}}
          </div>
      </div>
  {{/if}}

  {{#unless error}}

    <div class="row">
      <h1>{{#if message}}{{{message}}}{{else}}Password Reset{{/if}}</h1>
    </div>

    <div class="row">
      <input type="hidden" name="id" value="{{user.id}}">
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <div class="input-group" style="height: auto; width: 320px; margin: auto;">
          <div class="input-group-addon"><i class="fa fa-lock"></i></div>
          <input name="newpass" class="form-control" type="password" placeholder="New Password">
        </div>
      </div>
    </div>
     
    <div class="row">
    <div class="form-group col-sm-12">
        <div class="input-group" style="height: auto; width: 320px; margin: auto;">
          <div class="input-group-addon"><i class="fa fa-repeat"></i></div>
          <input name="confirmpass" class="form-control col-xs-4" type="password" placeholder="Confirm Password">
          <div class="input-group-addon"><span id="confirmpassstatus" class="glyphicon"></span></div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="form-group">
        <div class="input-group col-sm-12" style="margin: auto;">
          <button class="btn icon-btn-save btn-success" type="submit" onclick="savePasswordReset('{{currentRoute}}')">
            <span class="btn-save-label"><i class="glyphicon glyphicon-floppy-disk"></i></span> Save</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-sm-12">
        <div class="input-group" style="margin: auto;">
          <div class="PassResetMessageContainer">
            <div class="alert" id="passwordErrorMessage"></div>
            <div class="alert" id="passwordSuccessMessage">
                <h1>Success!</h1>
                <h1 class="icon"><span class="icon-thank-you-o"></span></h1>
                <p>Your password is changed.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  {{/unless}}
</div>

{{#contentFor 'pageScripts'}}
  <script type="application/javascript" src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/welcome.js"></script>
{{/contentFor}}