<div class="container">
    <!-- Action buttons ============================================= -->
      <div class="row actions-toggle page-title">
          <div class="col-md-9 col-sm-12">
              <h1 class="pull-left">Problem Center</h1>
        {{#if userinfo}}
              {{#notProvider ../userinfo.orgRole}}
          <a class="label label-default pull-right" data-toggle="modal" data-target="#AddDiscovery"><i class="fa fa-plus"></i> Post a Problem</a>
              {{/notProvider}}
        {{else}}
          {{>modal_login signInLink=false linkText="Post a Problem"}}
        {{/if}}
          </div>
      </div>
<!-- /Action buttons ============================================= -->
    <div class="row">
        <div class="col-md-9 col-sm-12">
            <p class="page-description">These are specific Problems to solve within the GSM community. Solutions submitted against a Problem will only be seen by NGA.</p>
        </div>
    </div>
    
    <div id="discoveries-list" class="row">
    <div class="col-sm-12 col-md-3 col-lg-3 sidebar right">
      <div id="sidebar" data-spy="affix" data-offset-top="0">
        <div>
          <div class="form-group has-feedback">
            <label>Search Problems</label>
            <input type="text" class="form-control search" placeholder="Search" value="">
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
          </div>

          {{#if community.discoveries}}
            <label>Filters:&nbsp;</label>

            <div class="checkbox">
              <label><input class="discovery-filter" type="checkbox"
                            value="open">Open
              </label>
            </div>
            <div class="checkbox">
              <label><input class="discovery-filter" type="checkbox"
                            value="close">Closed
              </label>
            </div>
            <br class="visible-xs"/>
            <label>Categories:</label><br/>

            <div>
              <select id="discoveries-categories" multiple="multiple">
                {{#each discoveryCategories}}
                  <option value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9">


      {{#if community.discoveries}}
        <ul class="list">
          {{#each discoveries}}
            <li>
              <span class="discoveryCategories" style="display: none;">{{categories}}</span>
            <span class="status" style="display: none;">
              {{#hasPastDate endDate}}
                close
              {{else}}
                open
              {{/hasPastDate}}
            </span>
            
            {{#inLastTwoWeeks date_created}}
            <span class="defaultSort" style="display: none;">A</span> <!-- This is a trick to get the dates to order correctly -->
            {{else}}
			{{#hasPastDate endDate}}
            <span class="defaultSort" style="display: none;">C</span> <!-- This is a trick to get the dates to order correctly -->
            {{else}}
			<span class="defaultSort" style="display: none;">B</span> <!-- This is a trick to get the dates to order correctly -->
			{{/hasPastDate}}
            {{/inLastTwoWeeks}}
            

              <div class="border-bottom">
                <a href="/problems/{{id}}">
                  <div class="pull-left thumb hidden-xs">
                    {{#if thumbnail.name}}
                      <img src="/images/community/{{thumbnail.name}}" class=" test  img-responsive logo"
                           alt="{{name}}"/>

                    {{else}}
                      <img src="{{getOrgLogoURL orgRef ../../members}}" class="img-responsive logo" alt="{{name}}">
                    {{/if}}
                  </div>
                </a>

                <div class="challenges-list">
                  <a href="/problems/{{id}}">
                    {{#hasPastDate endDate}}
                      <span class="label label-default baseline-shift pull-right">CLOSED</span>
                    {{else}}
                      {{#inLastTwoWeeks date_created}}
                        <span class="label gsm-teal-bg baseline-shift pull-right">NEW</span>
                      {{/inLastTwoWeeks}}
                    {{/hasPastDate}}
                    <h2>
                      <span class="discovery-name">{{name}}</span>
                    </h2>
                    <h4>Submitted by: <span class="discovery-owner">{{getOrgName orgRef ../newMembers}}{{getOrgName orgRef ../members}}</span></h4>

                    <p class="labels">
                      <i class="fa fa-calendar fa-fw fa-lg jivango-dkgray"></i> Problem dates:
                    <span
                      class="label jivango-mdgray-bkgd discovery-startdate">{{dateFormatter startDate 'MMM D, YYYY'}}</span>
                      to
                    <span
                      class="label jivango-mdgray-bkgd discovery-enddate">{{dateFormatter endDate 'MMM D, YYYY'}}</span>
                      <br/>
                      <i class="fa fa-tags fa-fw fa-lg jivango-dkgray"></i> Categories: <span class="categories">
                      {{#each categories}}
                        <span class="label jivango-category-bkgd category-tag">
                            {{this}}
                          </span>
                      {{/each}}
                    </span>
                    </p>

                    <p>{{summary}}</p>
                  </a>
                  <h4 class="baseline-shift more-link">
                    <a href="/problems/{{id}}" class="more-link jivango-mdgray">
                    <span class="fa-stack">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="glyphicon glyphicon-option-horizontal fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span>
                      More
                    </a>
                  </h4>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
	  <div class="null-notification" id="null-discoveries">
            <h1 class="icon"><i class="fa fa-bullhorn"></i></h1>
        <h2 class="text-center">There are no Problems posted yet in this community.<br/>
          Please check back soon!</h2>
          </div>
        
      {{/if}}
      {{#if community.discoveries}}
        <div class="jiv-pagination-controls">
          <ul class="discoveries-pagination pagination pagination-sm"></ul>
          <ul class="pagination pagination-sm">
            <li><a id="discoveries-showall" href="#" data-showall="false">Show All</a></li>
          </ul>
          <select class="form-control" name="type" id="discoveries-itemsperpage">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
          </select>
        </div>
      {{/if}}

    </div>
  </div>
</div>

<div class="modal fade" id="AddDiscovery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h3 class="modal-title indent" id="myModalLabel">Start a Problem</h3>
      </div>
	   {{#isIdInArray userinfo.orgRef community.members}}
	   {{#isClientOwner userinfo.orgRole community.owner userinfo.orgRef}}
        <div id="newProblemMessage" style="display: none;">
          <div class="modal-body discoveryAlert indent">
            <h1 class="icon"><i class="fa fa-bullhorn"></i></h1>

            <p class="errorText text-center">{{{strings.Problems.newProblemMessage}}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        
        <form name="newDiscovery" id="newDiscovery" class="form-horizontal" action="/problems/create"
              enctype="multipart/form-data" method="POST">
          <div class="modal-body indent">
            <div class="discoveryAlert">
            </div>
            <input type="hidden" name="communityID" value="{{community.id}}"/>

          <div class="container">
            <p class="text-muted"><span class="small required-field">*Required fields</span></p>
          </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Problem Title<span class="required-field">*</span></label>
              <div class="col-sm-9 errPlacement">
                <input class="form-control" type="text" name="name" id="name" value="" placeholder="Problem Title"/>
              </div>
            </div>
        
            <div class="form-group">
              <label class="col-sm-3 control-label">Start Date<span class="required-field">*</span></label>
              <div class="col-sm-5 errPlacement">
                <div class="input-group add-date">
                  <input type="text" class="form-control" name="startDate" id="startDate"
                         placeholder="Problem Start Date">
                    <span id="startDateCalendarIcon" class="input-group-addon"><span
                        class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">End Date<span class="required-field">*</span></label>
              <div class="col-sm-5 errPlacement">
                <div class="input-group add-date">
                  <input type="text" class="form-control" name="endDate" id="endDate"
                         placeholder="Problem End Date">
                    <span id="endDateCalendarIcon" class="input-group-addon"><span
                        class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" data-original-title="Start typing any tag you wish and press ',' or 'Tab' to save it." data-placement="right"
                     data-toggle="tooltip">Category Tags <span class="glyphicon glyphicon-question-sign"></span></label>
              <div class="form-group col-sm-9">
                <input class="form-control" type="text" name="category"
                       id="new-discovery-categories" value="" placeholder="Categories"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" data-toggle="tooltip" data-original-title="Problem Managers have the ability to edit the discovery data, view solutions and submit feedback." data-placement="right">Problem Manager(s)<span class="required-field">*</span> <span class="glyphicon glyphicon-question-sign"></span></label>
              <div id="managerInputs" class="col-sm-9 errPlacement">
                <input class="form-control col-sm-11" type="text" name="discoveryManagers" id="discoveryManagers" value=""
                       placeholder="Problem Manager(s), enter at least one"/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label" data-toggle="tooltip" data-original-title="Problem Evaluators have the ability to view solutions and save draft feedback, but NOT the ability to edit the problem or submit feedback." data-placement="right">Problem Evaluator(s) <span class="glyphicon glyphicon-question-sign"></span></label>
              <div id="evaluatorInputs" class="col-sm-9 errPlacement">
                <input class="form-control" type="text" name="discoveryEvaluators" id="discoveryEvaluators" value=""
                       placeholder="Problem Evaluator(s)"/>
              </div>
            </div>
              
              
              
            <div class="form-group col-sm-12">
              <label class="col-sm-3 control-label" data-original-title="10MB file restriction" data-placement="right" data-toggle="tooltip">
                Upload Thumbnail <span class="glyphicon glyphicon-question-sign" data-toggle="modal"
                                        data-target=".organizationLogo"></span>
              </label>

              <div class="col-sm-9" id="thumbnailDic">
                <input type="hidden" class="form-control" name="thumbnail" id="thumbnail">

                <div id="thumbnail-dealio">
                  <button type="button" id="thumbnail-crop-button" class="aui-button aui-button-primary">Save Image
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-12">Provide a short summary of your Problem:</label>

              <div class="col-sm-12">
                <textarea rows="4" class="form-control" id="summary" name="summary" value=""></textarea>
              </div>
            </div>

            <div class="form-group errPlacement">
              <label class="col-sm-12">Describe your Problem:<span class="required-field">*</span></label>

              <div class="col-sm-12"><textarea rows="4" class="form-control ckeditor" id="description"
                                               name="description"
                                               value=""></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-12">Do you need help creating content (i.e., graphics, video) to go along with the
                Problem posting? Please describe if so:</label>

              <div class="col-sm-12">
                <textarea rows="4" class="form-control" id="requirements" name="requirements" value=""></textarea>
              </div>
            </div>
			<div class="form-group">
              <label class="col-sm-12 control-label">Are there any existing documents, datasets, APIs, etc that
                will be needed to respond to the Problem?</label>
              <div class="col-sm-12 errPlacement" style="height:25px;">
                <input type="file" class="form-control" name="documents" id="documents" />
              </div>
            </div>
          </div>
          <div class="modal-footer indent">
            <button class="btn btn-primary" id="submitNewBtn" type="submit">Submit</button>
			<p id="spinnerDiscovery" style="display:none;"> Processing <span class="fa fa-spinner fa-spin"></span></p>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      {{else}}
	  <div class="modal-body indent">
          <h1 class="icon"><i class="fa fa-bullhorn"></i></h1>

          <p class="text-center">{{strings.Community.Messages.NotExplorerProblemAlert}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
	  {{/isClientOwner}}
      {{else}}
        <div class="modal-body indent">
          <h1 class="icon"><i class="fa fa-bullhorn"></i></h1>

          <p class="text-center">{{strings.Community.Messages.NotMemberProblemAlert}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      {{/isIdInArray}}
    </div>
</div>
</div>

{{#contentFor 'pageCSS'}}
  <style>
    .ui-datepicker {
      z-index: 1050 !important;;
    }

    #thumbnail-dealio {
      width: 325px;
      margin: 0;
    }
    .aui-avatar-standard,
    .aui-avatar-standard .aui-avatar-inner {
      height: 100px;
      width: 100px;
    }

    #thumbnail-crop-button {
      display: none;
      float: right;
      position: relative;
      margin-top: -30px;
    }
  </style>
  <link href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/css/jivango-datepicker.css" rel="stylesheet">
{{/contentFor}}

{{#contentFor 'postJqueryScripts'}}
  <script type="application/javascript" src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/community/discoveries-list.js"></script>
  <script type="application/javascript">

    $(document).ready(function(){

      $('#discoveryManagers').tokenfield({
        autocomplete: {
          source: [
            {{#each organizationUsers}}
              {
                value: '{{this.id}}',
                label: '{{this.firstName}} {{this.lastName}} ({{this.email}})'
              },
            {{/each}}
          ]

        },
        showAutocompleteOnFocus: true,
        minWidth: 210
      });
        
     $('#discoveryEvaluators').tokenfield({
        autocomplete: {
          source: [
            {{#each organizationUsers}}
              {
                value: '{{this.id}}',
                label: '{{this.firstName}} {{this.lastName}} ({{this.email}})'
              },
            {{/each}}
          ],


        },
        showAutocompleteOnFocus: true,
        minWidth: 210
      });
    });
  </script>

{{/contentFor}}
