    <header class="hero" id="hero">
        <div class="video-background-container">

            <video preload="auto" autoplay loop muted class="video-background" poster="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/videos/enamerica_iss_20120413/enamerica_iss_20120413.png">
                <source type="video/mp4" src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/videos/enamerica_iss_20120413/enamerica_iss_20120413.mp4" />
                <source type="video/ogv" src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/videos/enamerica_iss_20120413/enamerica_iss_20120413.ogv" />
                <source type="video/webm" src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/videos/enamerica_iss_20120413/enamerica_iss_20120413.wmv" />
            </video>
        </div> 
        <div class="hero-overlay"></div>
        <div class="header-content">
            <div class="header-content-inner">
                <img src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/images/gsm-frontpage/gsm-logo-hero.png" alt="GSM" class="img-responsive hidden-xs wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1.1s">
                <div class="wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.1s">
                    <h1 class="gsm-medgray">GEOINT Solutions<br>Marketplace</h1>
                    <p>A collaborative and transparent online ecosystem focused on GEOINT Innovation.</p>
                    <a href="#about" class="btn btn-warning btn-xl page-scroll">Find Out More</a>
                </div>
            </div>
        </div>
            <a href="#about" class="down page-scroll"><i class="fa fa-angle-down"></i></a>
    </header>

    <section class="gsm-white-bg" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3 class="section-heading gsm-medgray">In partnership with</h3>
                    <div class="col-sm-6 text-center"><a href="http://usgif.org" target="_blank"><img src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/images/gsm-frontpage/usgif-logo.png" alt="United State Geospatial Intelligence Foundation"></a></div>
                    <div class="col-sm-6 text-center"><a href="http://www.nga.mil" target="_blank"><img src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/images/gsm-frontpage/nga-logo.png" alt="National Geospatial-Intelligence Agency"></a></div>
                </div>
            </div>
        </div>
    </section>
            
    <section class="gsm-gray-bg" id="whatis">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="section-heading gsm-gold">What is GSM?</h2>
                    <h3 class="section-heading">The GEOINT Solutions Marketplace (GSM), is an open and inclusive online exchange that enables the community of users and solution providers to connect, collaborate and enhance the GEOINT mission.</h3>
                    <h3 class="section-heading">GSM is a repository for information about the GEOINT mission, vision and strategy, user&rsquo;s needs and challenges, solutions, industry capabilities and trends and R&amp;D. Additionally, it is an interactive environment to gather new ideas, increase transparency, and collaborate on new technologies.</h3>
                    <hr class="light">
                </div>
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="col-md-4">
                        <img src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/images/gsm-frontpage/icons-connect.png" alt="Connect problems and capabilities" class="wow fadeInDown" data-wow-delay=".1s" data-wow-duration=".5s"/>
                        <h3 class="section-heading">Connect relevant problems and capabilities</h3>
                        <p>How do I find what&rsquo;s out there? How do I market my capabilities? Discover opportunities to work together.</p>
                    </div>
                    <div class="col-md-4">
                        <img src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/images/gsm-frontpage/icons-level.png" alt="Level playing field" class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration=".5s"/>
                        <h3 class="section-heading">Level playing field for everyone</h3>
                        <p>There’s zero barrier of entry. All you need to do is sign up – it’s free!</p>
                    </div>
                    <div class="col-md-4">
                        <img src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/images/gsm-frontpage/icons-opportunities.png" alt="Business opportunities" class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration=".5s"/>
                        <h3 class="section-heading">Find new business opportunities</h3>
                        <p>Respond to problems to present your capabilities directly to people actively seeking them.</p>
                    </div>
                </div>

                    <div class="col-md-12">
                        <a href="/about" class="btn btn-warning btn-xl">View the Community</a>
                    </div>
                    
            </div>
        </div>
    </section>

    <section class="gsm-white-bg"  id="engage">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2 class="gsm-teal hidden">eNGAge</h2>
                    <hr class="hidden">
                    <h1 class="hidden"><i class="fa fa-users fa-2x wow fadeIn" data-wow-delay=".1s" data-wow-duration=".5s"></i></h1>
                    <img src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/images/gsm-frontpage/engage-logo.png" alt="eNGAge" class="wow fadeIn" data-wow-delay=".1s" data-wow-duration=".5s"/>
                    <h2>eNGAge with us to innovate, to explore... to advance.</h2>
                    <p>eNGAge is a new National Geospatial-Intelligence Agency (NGA) program that supports exchanges of people with industry and academia. The program invites companies and academic institutions to host members of team GEOINT or provide members of your team to spend time as a member of ours.  Working together, eNGAge will act as a force multiplier to enhance our collective contribution to our national security, help us stay ahead of technology trends, support awareness of each other&rsquo;s industry and capabilities, take calculated risks and learn and adapt as the realities of the world dictate.</p>
                    <a href="/engage" class="btn btn-info btn-xl">Learn More</a>
                </div>
            </div>
        </div>
    </section>

    <section class="gsm-blue-bg" id="members">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="gsm-gold">MEMBERS</h2>
                    <hr class="light">
                    <img src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/images/gsm-frontpage/icons-members.png" alt="GSM Members" class="wow fadeIn" data-wow-delay=".1s" data-wow-duration=".5s"/>
                    <br><br>
                    <p>Connect and collaborate to enhance the GEOINT mission. Explore the Members directory to find out more about your peers and discover opportunities to work together.</p>
                    <a href="/members" class="btn btn-warning btn-xl">GSM Members</a>
                </div>
            </div>
        </div>
    </section>

    <section class="gsm-teal-bg" id="problems">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1 text-center">
                    <h2 class="gsm-blue">CAPABILITIES</h2>
                    <hr>
                    <img src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/images/gsm-frontpage/icons-capabilities.png" alt="GSM Capabilities" class="wow fadeIn" data-wow-delay=".3s" data-wow-duration=".8s"/>
                    <br><br>
                    <p>Add your Capabilities to the GSM catalog to be discovered by the GEOINT community. Capabilities can be products, services, or data.</p>
                    <a href="/capabilities" class="btn btn-primary btn-xl">Capabilites Catalog</a>
                </div>
                <div class="col-md-5 text-center">
                    <h2 class="gsm-blue">PROBLEMS</h2>
                    <hr>
                    <img src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/images/gsm-frontpage/icons-problems.png" alt="GSM Problems" class="wow fadeIn" data-wow-delay=".3s" data-wow-duration=".8s"/>
                    <br><br>
                    <p>Submit your Solutions against specific Problems related to the GEOINT mission. Every Solution submission will have 100% guaranteed feedback.</p>
                    <a href="/problems" class="btn btn-primary btn-xl">Problem Center</a>
                </div>
            </div>
        </div>
    </section>

    <section id="signup">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="gsm-blue wow fadeInRight" data-wow-delay=".3s" data-wow-duration=".5s">Get Started!</h2>
                    <hr class="primary">
                    <p class="wow fadeInLeft" data-wow-delay=".4s" data-wow-duration=".5s">Sign up now to start making connections with GEOINT-focused organizations.</p>
                    <a href="/join" class="btn btn-warning btn-xl">Sign Up Now</a>
                    <p class="small">It&rsquo;s free!</p>
                </div>

            </div>

        </div>
        <aside class="small">
            <a href="http://eol.jsc.nasa.gov/BeyondThePhotography/CrewEarthObservationsVideos/" target="_blank">Video footage: Earth Science and Remote Sensing Unit, NASA Johnson Space Center</a>
        </aside>
    </section>

{{#contentFor 'pageCSS'}}
    <link rel="stylesheet" href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/animate/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/css/gsm-front.css"/>
{{/contentFor}}


{{#contentFor 'pageScripts'}}
    <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/libs/wow/wow.min.js"></script>
    <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/frontpage/jquery.easing.min.js"></script>
    <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/frontpage/jquery.fittext.js"></script>
    <script src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/frontpage/creative.js"></script>
{{/contentFor}}